<div>
	<div class="view-head">
		交易差异管理 - 添加
	</div>
	<div class="view-body">
		<form class="filter">
			<div>
				<div class="filter-item">
					<label>日期:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入日期...">
				</div>
				<div class="filter-item">
					<label>订单号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入订单号...">
				</div>
				<div class="filter-item">
					<label>卡号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入主账号...">
				</div>
			</div>
			<div>
				<div class="filter-item">
					<label>交易金额:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入商户代码...">
				</div>
				<div class="filter-item">
					<label>系统跟踪号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入银行名称...">
				</div>
				<div class="filter-item">
					<label>检索参考号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入交易渠道...">
				</div>
			</div>
			<button class="filter-button el-button el-button--primary">查询</button>
		</form>

		<el-table id="trade-table" :data="tradeList" border highlight-current-row @current-change="select">
			<el-table-column prop="id" label="编号"></el-table-column>
			<el-table-column prop="bank_name" label="银行名称"></el-table-column>
			<el-table-column prop="in_orout" label="出入金标识"></el-table-column>
			<el-table-column prop="system_orderid" label="系统订单号" width=250></el-table-column>
			<el-table-column prop="ref_num" label="银行订单号"></el-table-column>
			<el-table-column prop="paymoney" label="交易金额"></el-table-column>
			<el-table-column prop="deal_channel" label="处理渠道"></el-table-column>
		</el-table>

		<div class="pagination">
			<el-pagination @current-change="handleCurrentChange"
				:current-page="1"
				:page-size="pageSize"
				layout="total, prev, pager, next"
				:total="total">
			</el-pagination>
		</div>

		<el-row style="margin-bottom: 15px;">
			<el-col :span="12">
				<table border="1" class="compare-table">
					<caption>银联/银行明细</caption>
					<tbody>
						<tr><td class="label">报文类型</td><td>0000</td></tr>
						<tr><td class="label">交易类型码</td><td>000000</td></tr>
						<tr><td class="label">交易传输时间</td><td>2016-12-05 00:00:00</td></tr>
						<tr><td class="label">主账号</td><td>6226370014003653</td></tr>
						<tr><td class="label">发卡机构标识码</td><td>2016-12-22</td></tr>
						<tr><td class="label">交易金额</td><td>1200.00</td></tr>
						<tr><td class="label">受卡方标识码</td><td>2016-12-22</td></tr>
						<tr><td class="label" style="line-height: 90px;height: 92px;">交易地域标志</td><td>10</td></tr>
						<tr><td class="label" style="line-height: 120px;height: 123px;">终端类型</td><td>POS</td></tr>
						<tr><td class="label">支付方式</td><td>刷卡支付</td></tr>
						<tr><td class="label">检索参考号</td><td>9876543210</td></tr>
						<tr><td class="label">订单号</td><td>123456789012345678901234567</td></tr>
					</tbody>
				</table>
			</el-col>
			<el-col :span="12">
				<table border="1" class="compare-table">
					<caption>系统明细</caption>
					<tbody>
						<tr><td class="label">成功标识</td><td>0000</td></tr>
						<tr><td class="label">撤销冲正退货标识</td><td>000000</td></tr>
						<tr><td class="label">交易传输时间</td><td>2016-12-05 00:00:00</td></tr>
						<tr><td class="label">卡号</td><td>6226370014003653</td></tr>
						<tr><td class="label">开户行名称</td><td>2016-12-22</td></tr>
						<tr><td class="label">交易金额</td><td>1200.00</td></tr>
						<tr><td class="label">商户编号</td><td>2016-12-22</td></tr>
						<tr><td class="label">交易省份</td><td>10</td></tr>
						<tr><td class="label">交易城市</td><td>10</td></tr>
						<tr><td class="label">交易县(区)</td><td>10</td></tr>
						<tr><td class="label">终端编号</td><td>POS</td></tr>
						<tr><td class="label">处理渠道</td><td>刷卡支付</td></tr>
						<tr><td class="label">结算标识</td><td>9876543210</td></tr>
						<tr><td class="label">差错交易标识</td><td>123456789012345678901234567</td></tr>
						<tr><td class="label">订单号</td><td>123456789012345678901234567</td></tr>
						<tr><td class="label">财务流水号</td><td>123456789012345678901234567</td></tr>
						<tr><td class="label">银行订单号</td><td>123456789012345678901234567</td></tr>
					</tbody>
				</table>
			</el-col>
		</el-row>

		<form>
			<div class="form-item">
				<label>差异原因:</label>
				<select>
					<option>请选择差异原因</option>
					<option>系统失败，银行已收款（长款）</option>
					<option>系统记录冲正成功，银行未冲正且已收款（长款）</option>
					<option>系统记录撤销成功，银行未撤销且已收款（长款）</option>
					<option>系统记录成功，但银行记录失败（无清算的记录）或银行记录金额小于实际交易金额（短款）</option>
				</select>
			</div>
			<div class="form-item">
				<label>调账类型:</label>
				<select>
					<option>请选择调账类型</option>
					<option>贷记调整</option>
					<option>追扣</option>
					<option>贷记调整, 并且追扣</option>
				</select>
			</div>
			<div class="form-item">
				<label></label>
				<button class="el-button el-button--primary">确认</button>
				<a href="#/trade-difference/list"><button type="button" class="el-button el-button--primary">取消</button></a>
			</div>
		</form>
	</div>
</div>