<div>
	<div class="view-head">
		差异类型管理 - 修改
	</div>
	<div class="view-body">
		<form>
			<div class="form-item">
				<label>差异码:</label>
				<input type="" name="" class="el-input__inner" placeholder="请输入差异码...">
			</div>
			<div class="form-item">
				<label>差异码描述:</label>
				<input type="" name="" class="el-input__inner" placeholder="请输入差异码描述...">
			</div>
			<div class="form-item">
				<label>是否可调账:</label>
				<select>
					<option>是</option>
					<option>否</option>
				</select>
			</div>
			<div class="form-item">
				<label></label>
				<button class="el-button el-button--primary">确认</button>
				<a href="#/difference-type/list"><button type="button" class="el-button el-button--primary">取消</button></a>
			</div>
		</form>
	</div>
</div>