<div>
	<div class="view-head">银联差错处理</div>
	<div class="view-body">
		<form class="filter">
			<div>
				<div class="filter-item">
					<label>日期:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入日期...">
				</div>
				<div class="filter-item">
					<label>主账号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入订单号...">
				</div>
				<div class="filter-item">
					<label>系统跟踪号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入主账号...">
				</div>
			</div>
			<div>
				<div class="filter-item">
					<label>差错交易标志:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入商户代码...">
				</div>
				<div class="filter-item">
					<label>原因码:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入银行名称...">
				</div>
				<div class="filter-item">
					<label>追偿状态:</label>
					<select>
						<option>未处理</option>
						<option>追偿中</option>
						<option>已部分追偿</option>
						<option>追偿完成</option>
					</select>
				</div>
			</div>
			<button class="filter-button el-button el-button--primary">查询</button>
		</form>

		<el-table :data="unionPayErrorList" border @selection-change="handleSelectionChange">
			<el-table-column prop="id" label="编号"></el-table-column>
			<el-table-column prop="tradeMoney" label="调账金额"></el-table-column>
			<el-table-column prop="oldTradeMoney" label="原交易金额"></el-table-column>
			<el-table-column prop="pay_fee" label="差错费用"></el-table-column>
			<el-table-column prop="error_trade_sign" label="差错交易标志"></el-table-column>
			<el-table-column prop="error_reason" label="原因码"></el-table-column>
			<el-table-column prop="system_track_num" label="系统跟踪号"></el-table-column>
			<el-table-column prop="bank_num" label="银行卡号"></el-table-column>
			<!--<el-table-column prop="tzstate" label="追偿状态"></el-table-column>
			<el-table-column prop="tzstate" label="已追偿金额"></el-table-column>-->
		</el-table>

		<div class="pagination">
			<el-pagination @size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="1"
				:page-sizes="[10, 15, 20, 25]"
				:page-size="pageSize"
				layout="total, sizes, prev, pager, next, jumper"
				:total="total">
			</el-pagination>
		</div>
	</div>
</div>