<div>
	<div class="view-head">
		差异类型管理
		<a href="#/difference-type/add"><button class="el-button el-button--success">添加</button></a>
	</div>
	<div class="view-body">
		<form class="filter">
			<div>
				<div class="filter-item">
					<label>差异码:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入日期...">
				</div>
			</div>
			<button class="filter-button difference-type-filter-button el-button el-button--primary">查询</button>
		</form>

		<el-table :data="differenceTypeList" border @selection-change="handleSelectionChange">
			<el-table-column prop="id" label="编号" width=50></el-table-column>
			<el-table-column prop="code" label="差异码" width=100></el-table-column>
			<el-table-column prop="codeDec" label="差异码描述"></el-table-column>
			<el-table-column prop="isMixFee" label="是否可调账" width=100></el-table-column>
			<el-table-column inline-template label="操作" show-overflow-tooltip width=150>
				<div>
					<a href="#/difference-type/edit"><button class="el-button el-button--success el-button--small">修改</button></a>
					<button class="el-button el-button--danger el-button--small">删除</button>
				</div>
			</el-table-column>
		</el-table>

		<div class="pagination">
			<el-pagination @size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="1"
				:page-sizes="[10, 15, 20, 25]"
				:page-size="pageSize"
				layout="total, sizes, prev, pager, next, jumper"
				:total="total">
			</el-pagination>
		</div>
	</div>
</div>