<div>
	<div class="view-head">
		交易差异管理
		<a href="#/trade-difference/add"><button class="el-button el-button--success">添加</button></a>
	</div>
	<div class="view-body">
		<form class="filter">
			<div>
				<div class="filter-item">
					<label>订单号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入订单号...">
				</div>
				<div class="filter-item">
					<label>系统检索号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入系统检索号...">
				</div>
				<div class="filter-item">
					<label>主账号:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入主账号...">
				</div>
			</div>
			<div>
				<div class="filter-item">
					<label>商户代码:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入商户代码...">
				</div>
				<div class="filter-item">
					<label>银行名称:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入银行名称...">
				</div>
				<div class="filter-item">
					<label>交易渠道:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入交易渠道...">
				</div>
			</div>
			<div>
				<div class="filter-item">
					<label>差异来源:</label>
					<select>
						<option>请选择差错来源</option>
						<option>系统对账-银行</option>
						<option>系统对账-系统</option>
						<option>银联差错平台</option>
						<option>人工录入</option>
					</select>
				</div>
				<div class="filter-item">
					<label>差异原因:</label>
					<select>
						<option>请选择差异原因</option>
						<option>系统失败，银行已收款（长款）</option>
						<option>系统记录冲正成功，银行未冲正且已收款（长款）</option>
						<option>系统记录撤销成功，银行未撤销且已收款（长款）</option>
						<option>系统记录成功，但银行记录失败（无清算的记录）或银行记录金额小于实际交易金额（短款）</option>
					</select>
				</div>
				<div class="filter-item">
					<label>日期:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入日期...">
				</div>
			</div>
			<div>
				<div class="filter-item">
					<label>调账类型:</label>
					<select>
						<option>请选择调账类型</option>
						<option>贷记调整</option>
						<option>追扣</option>
						<option>贷记调整, 并且追扣</option>
					</select>
				</div>
				<div class="filter-item">
					<label>受理机构代码:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入受理机构代码...">
				</div>
				<div class="filter-item">
					<label>发送机构代码:</label>
					<input type="" name="" class="el-input__inner" placeholder="请输入发送机构代码...">
				</div>
			</div>
			<button class="filter-button el-button el-button--primary">查询</button>
			<button class="commit-button el-button el-button--primary">批量提交</button>
		</form>

		<el-table :data="tradeDifferenceList" border @selection-change="handleSelectionChange">
			<el-table-column type="selection" width=30></el-table-column>
			<el-table-column prop="id" label="编号" width=35></el-table-column>
			<el-table-column prop="bank_name" label="银行名称" width=90></el-table-column>
			<el-table-column prop="diftype" label="差异来源" width=95></el-table-column>
			<el-table-column prop="in_orout" label="出入金标识"></el-table-column>
			<el-table-column prop="system_orderid" label="系统订单号" width=220></el-table-column>
			<el-table-column prop="ref_num" label="银行订单号" width=85></el-table-column>
			<el-table-column prop="paymoney" label="交易金额"></el-table-column>
			<el-table-column prop="deal_channel" label="处理渠道" width=95></el-table-column>
			<el-table-column inline-template label="差异原因" width=225>
				<select style="width: 220px;">
					<option>系统失败，银行已收款（长款）</option>
					<option>系统记录冲正成功，银行未冲正且已收款（长款）</option>
					<option>系统记录撤销成功，银行未撤销且已收款（长款）</option>
					<option>系统记录成功，但银行记录失败（无清算的记录）或银行记录金额小于实际交易金额（短款）</option>
				</select>
			</el-table-column>
			<el-table-column inline-template label="调账类型" width=120>
				<select style="width: 115px;">
					<option>贷记调整</option>
					<option>追扣</option>
					<option>贷记调整, 并且追扣</option>
				</select>
			</el-table-column>
			<el-table-column prop="tzstate" label="调账状态"></el-table-column>
			<el-table-column inline-template label="操作" show-overflow-tooltip>
				<button class="el-button el-button--success el-button--small">提交</button>
			</el-table-column>
		</el-table>

		<div class="pagination">
			<el-pagination @size-change="handleSizeChange"
				@current-change="handleCurrentChange"
				:current-page="1"
				:page-sizes="[10, 15, 20, 25]"
				:page-size="pageSize"
				layout="total, sizes, prev, pager, next, jumper"
				:total="total">
			</el-pagination>
		</div>
	</div>
</div>