<div class="sidebar">
        <el-menu default-active="2" theme="dark">
            <el-submenu index="1">
                <template slot="title">差错管理</template>
                <a href="#/trade-difference/list">
                    <el-menu-item index="1-1">
                        交易差异管理
                    </el-menu-item>
                </a>
                <a href="#/unionpay-error/list">
                    <el-menu-item index="1-2">
                        银联差错处理
                    </el-menu-item>
                </a>
            </el-submenu>
            <el-submenu index="2">
                <template slot="title">参数管理</template>
                <a href="#/difference-type/list">
                    <el-menu-item index="2-1">
                        差异类型管理
                    </el-menu-item>
                </a>
            </el-submenu>
        </el-menu>
</div>