body, html {
    height: 100%;
}

body>#app {
    position: relative;
    width: 100%;
    min-height: 100%;
    height: auto;
    background-color: #eaedf1;
}

.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
    margin: 0 auto;
    color: #FFF;
    font-size: 18px;
    background-color: #2D73A0;

    a {
        color: #FFF;
        margin-left: 15px;
        cursor: pointer;
        position: relative;

        .logo {
            height: 60px;
        }
    }
}

.footer {
    color: #fff;
    background-color: #2D73A0;
    position: absolute;
    width: 100%;
    bottom: 0;

    .footer-content {
        height: 30px;
        line-height: 30px;
        padding: 0 53px;
    }
}

.sidebar {
    width: 180px;
    position: absolute;
    background-color: #324057;
    top: 70px;
    bottom: 0;
}

.content {
	min-height: 500px;
	margin: 0 auto;
    padding-bottom: 50px;
    overflow:auto;

    &>div {
        margin-left: 180px;
        padding: 15px;

        .router-view {
            background-color: #fff;

            .view-head {
                height: 30px;
                line-height: 30px;
                padding: 15px 0;
                padding-left: 15px;
                font-size: 16px;
                font-weight: 600;
                position: relative;

                button {
                    position: absolute;
                    margin-right: 15px;
                    width: 90px;
                    right: 0;
                }
            }

            .view-body {
                padding: 15px;

                .filter {
                    margin-bottom: 5px;
                    position: relative;

                    .filter-item {
                        display: inline-block;
                        width: 310px;
                        line-height: 40px;

                        label {
                            display: inline-block;
                            width: 100px;
                            text-align: right;
                            padding-right: 5px;
                        }

                        input, select {
                            width: 200px;
                            height: 30px;
                            display: inline-block;
                        }

                        select {
                            background-color: #fff;
                            border: 1px solid #c0ccda;
                        }
                    }

                    .filter-button {
                        position: absolute;
                        left: 960px;
                        bottom: 0;
                        margin-bottom: 5px;
                        width: 90px;
                    }

                    .difference-type-filter-button {
                        left: 320px;
                    }

                    .commit-button {
                        position: absolute;
                        bottom: 0;
                        margin-bottom: 5px;
                        left: 1050px;
                    }
                }

                .el-table {
                    min-width: 100%;
                    width: auto;
                    max-width: none;

                    .cell, th>div {
                        padding-left: 0;
                        padding-right: 0;
                        text-align: center;
                        white-space: nowrap;
                    }

                    .el-table__body {
                        tr {
                            &.current-row{
                                &>td {
                                    background: #2D73A0;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    &#trade-table {
                        tbody {
                            tr {
                                cursor: pointer;
                            }
                        }
                    }
                }

                .pagination {
                    position: relative;
                    height: 50px;

                    .el-pagination {
                        float: right;
                        margin: 9px auto;
                    }
                }

                .form-item {
                    margin-bottom: 15px;

                    label {
                        width: 100px;
                        text-align: right;
                        display: inline-block;
                        margin-right: 10px;
                    }

                    .el-input__inner {
                        width: 400px;
                        display: inline-block;
                    }

                    select {
                        background-color: #fff;
                        border: 1px solid #c0ccda;
                        width: 400px;
                        height: 36px;
                        display: inline-block;
                    }

                    button {
                        margin-right: 10px;
                    }
                }

                .compare-table {
                    width: 100%;
                    border-color: #e0e6ed;

                    caption {
                        border: 1px solid #e0e6ed;
                        border-bottom: none;
                        background-color: #EFF2F7;
                        line-height: 40px;
                    }

                    tbody {
                        border: 1px solid #e0e6ed;

                        td {
                            line-height: 30px;
                            padding-left: 15px;

                            &.label {
                                width: 25%;
                            }
                        }
                    }
                }
            }
        }
    }
}